spring:
  application:
    name: word_trainer
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  datasource:
    url: jdbc:mysql://${DB}?serverTimezone=UTC
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
server:
  servlet:
    context-path: /api
  port: ${PORT:8080}
key:
  access: ${ACCESS_SECRET}
  refresh: ${REFRESH_SECRET}
expires:
  access: ${EXPIRES_ACCESS:30}
  refresh: ${EXPIRES_REFRESH:21600}
#logging:
#  level:
#    root: DEBUG
#  file:
#    name: app.log




