spring:
  application:
    name: test-word_trainer
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
  scheduling:
    enabled: false
server:
  servlet:
    context-path: /api
  port: ${PORT:8090}
key:
  access: ${ACCESS_SECRET:0LbQstCw0LTRi9C20LLQtNCw0L7RhNGQsNC20LLRi9Ct0Y}
  refresh: ${REFRESH_SECRET:L0LLQsNGC0YTRi9Cy0LDRg9C60LXQuNGJ0YHQvNGC0YfQtN}
expires:
  access: ${EXPIRES_ACCESS:30}
  refresh: ${EXPIRES_REFRESH:21600}



